/*----- Body Styling -----*/
body {
  height: 100%;
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
  background-color: #121212;
  color: #ededed;
  font-family: Forum;
}

@font-face {
  font-family: Forum;
  src: url(./fonts/Forum-Regular.ttf);
}

/*-----Top Navigation Styling-----*/
/* Add a black background color to the top navigation */
.topnav {
  z-index: 999;
  background-color: #121212e0;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f6f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: 200ms;
}

#github {
  float: right;
  display: block;
  color: #f6f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#github:hover {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#music {
  float: right;
  display: block;
  color: #f6f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#music:hover {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #FF7F00;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/*-----Banner Section Styling-----*/
/* Grid styling for the banner object*/
.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  background-attachment: fixed;
}
.banner-title-div {
  vertical-align: bottom;
  display: grid;
  justify-content: center;
  opacity: 0;
  transition: 300ms;
  background-position: center;
  background-attachment: local;
  vertical-align: middle;
}

.banner:hover .banner-title-div {
  opacity: 1;
}

a.banner-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  fill: parent;
}

/* Banner Background image styling*/
.banner-img-div { grid-area: 1 / 1 / 2 / 2; }
#banner-img {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/tech_photo.jpg);
  background-attachment: fixed;
}
#banner-img2 {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/tech_project.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}
#banner-img3 {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/data_project.jpg);
  background-attachment: fixed;
    background-size: cover;
  object-fit: fill;
}
#banner-img4 {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/music_project.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}
#banner-img5 {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/ai_project.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}
#banner-img6 {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/contact_img.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}
#banner-img-contact {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/contact_banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}
#banner-img-portfolio {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/portfolio_banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}

#banner-img-tech {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/tech_project.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}

#banner-img-data {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/data_project.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}

#banner-img-construction {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-image: url(../static/images/under_construction.jpg);
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}


/* Gradient overlay grid styping for banner object*/
.banner-overlay-div { grid-area: 1 / 1 / 2 / 2; }
#banner-overlay {
  display: grid;
  max-width: 100%;
  background: black;
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.7777485994397759) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  background-attachment: fixed;
}
/* Icon styling for banner */
.banner-icon-div { grid-area: 1 / 1 / 2 / 2; }
#banner-icon {
  display: grid;
  background-image: url(../static/MJR-orange-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

#banner-icon-construction {
  display: grid;
  background-image: url(../static/construction-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

#banner-title2 {
  display: grid;
  bottom: 50%;
  width: 100%;
  text-align: center;
  color: #f6f2f2;
}

.banner-title-div span.border {
  border-radius: 5px;
  display: flex;
  background-color: #fefefeb0;
  color: #010101;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  position: relative;
  transform: translateY(48vh);
  transition: 300ms;
}
.banner-title-div span.border:hover {
  background-color: #00274e87;
  color: #fefefe;
}

/*----- Title and Description Styling -----*/
.title {
  position: relative;
  margin-right: 100px;
  margin-left: 80px;
  background-attachment: fixed;
  margin-bottom: 32px;
  margin-bottom: 32px;
}
.title h1 {
  color: #edefed;
  font-family: Forum;
  font-size: 400%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

.title h2 {
  color: #edefed;
  font-family: Forum;
  font-size: 200%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

.title p {
  text-align: justify;
  text-justify: auto;
}

/*----- Contact Form Styling -----*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #3f3f4770;
  color: #ededed;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  display:inline-block;
  background-color: #FF7F00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 100ms;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ffa54d;
}

/* Add a background color and some padding around the form */
.container {
  margin: 40px;
  border-radius: 10px;
  background-color: #1e1e1f;
  color: #f7f6f6;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.flashes {
  display: inline-block;
}

/*----- Footer Styling -----*/
.foot-start {
  background-color: #141514;
}
/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left left left right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
  
  margin-left: 22%;
  margin-right: 22%;
} 

.left,
.right {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
  max-width: 60%;
}

/* Style the right column */
.right {
  grid-area: right;
  width: 40%;
}

ul {
  list-style: none;
  padding: 0px;
}

/* Style the footer */
.footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
  ul {
    list-style: none;
    padding: 0px;
  }
}

.foot-link {
  color: inherit;
  text-decoration: none;
  transition: 500ms;
}

.foot-link:hover {
  margin-left: 3px;
  color: #FF7F00;
  text-decoration: none;

}

.flashes p {
  color: #1180ff;
}

/* ----- Portfolio Page Grid Layout ----- */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 75vh;
}

.port-card-bg {
  margin: 40px;
  border-radius: 10px;
  background-color: #1e1e1f;
  color: #f7f6f6;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  transition: 300ms;
}

.port-card-bg:hover {
  margin: 30px;
}

.card-div {
  margin: 5%;
  object-position: center;
}

.card-title {
  border-radius: 5px;
  background-color: #fefefeb0;
  color: #010101;
  padding: 10px;
  font-size: 25px;
  letter-spacing: 6px;
}

#tech-card {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url(../static/images/tech_project.jpg);
  background-size: cover;
}

#data-card {
  grid-area: 1 / 2 / 2 / 3; 
  background-image: url(../static/images/data_project.jpg);
  background-size: cover;
}

