/*-----Body Styling-----*/
body {
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
}

@font-face {
  font-family: Forum;
  src: url(./fonts/Forum-Regular.ttf);
}

hr.rounded {
  border-top: 5px solid #1b1b1fe0;
  border-bottom: 5px solid #1b1b1fe0;
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
}

/*-----Top Navigation Styling-----*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #1b1b1fe0;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f6f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: 200ms;
}

#github {
  float: right;
  display: block;
  color: #f6f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#github:hover {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #FF7F00;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/*-----Banner Section Styling-----*/
/* Grid styling for the banner object*/
.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

/* Banner Background image styling*/
.banner-img-div { grid-area: 1 / 1 / 2 / 2; }
#banner-img {
  width: 100%;
  background-image: url(../static/tech_photo.jpg);
  height: 824px;
  background-color: darkgrey;
  background-position: center;
}

/* Gradient overlay grid styping for banner object*/
.banner-overlay-div { grid-area: 1 / 1 / 2 / 2; }
#banner-overlay {
  display: grid;
  max-width: 100%;
  background: black;
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.7777485994397759) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}
/* Icon styling for banner */
.banner-icon-div { grid-area: 1 / 1 / 2 / 2; }
#banner-icon {
  display: grid;
  background-image: url(../static/MJR-orange-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
/*----- Title and Description Styling -----*/
.title {
  margin-right: 100px;
  margin-left: 80px;
}
.title h1 {
  color: #006088;
  font-family: Forum;
  font-size: 400%;
  text-align: left;
  margin-bottom: 16px;
}

.title p {
  text-align: left;
}

/*----- Menu List Styling -----*/
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.menu-item {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.25); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .25s ease;
  opacity:0;
  color: white;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.menu-item:hover .overlay {
  opacity: 1;
}


