<!DOCTYPE html>
<link rel="stylesheet" href="static/styles.css" type="text/css">
<!-- Site footer -->
<div class="foot-start">
    <hr>
    <div class="grid-container">
        <div class="left">
      	<h3>About</h3>
      	<hr>
      	<p>This is just a site I coded up to show off my software projects and some other interests. Feel free to have a look around and don't forget to checkout my Github and music when you get a chance!</p>
      </div> 
      <div class="right">
      	<h3>Links</h3>
      	<hr>
      	<ul id="foot-links">
      		<li><a class="foot-link" href="{{ url_for('home') }}">Home</a></li>
      		<li><a class="foot-link" href="{{ url_for('portfolio') }}" >Portfolio</a></li>
      		<li><a class="foot-link" href="{{ url_for('contact') }}">Contact</a></li>
      		<li><a class="foot-link" href="https://github.com/Mroussell">GitHub</a></li>
      		<li><a class="foot-link" href="https://soundcloud.com/music-mjr">Music</a></li>
      	</ul>
      </div>
      
      <div class="footer">
      	<p>Copyright © 2022 Michael James Roussell All Rights Reserved.</p>
      </div>
    </div>
</div>