<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="static/styles.css" type="text/css">
		<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="topnav" id="myTopnav">
			<a href="{{ url_for('home') }}" class="active">Home</a>
			<a href="{{ url_for('portfolio') }}" >Portfolio</a>
			<a href="{{ url_for('contact') }}">Contact</a>
		  	<a href="{{ url_for('blog') }}">AI Blog</a>
			<a id="github" href="https://github.com/Mroussell">My GitHub</a>		  	
		  	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		    	<i class="gotopage"></i>
		  	</a>
		</div>

		<div class="banner-wrapper">
    		<div class="banner">
    			<div class="banner-img-div" id="banner-img"></div>
    			<div class="banner-overlay-div" id="banner-overlay"> </div>
    			<div class="banner-icon-div" id="banner-icon"> </div>
    		</div>
		</div>


		<div>
			<h1>Michael J. Roussell</h1>
			<p>Hi all, I'm a software developer, data analyst, technology enthusiast, and musician. Checkout my current projects, past projects, academic work, and personal AI blog here on this site.</p>
		</div>
	</body>
</html>